<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-fixed-top border-bottom-1 padding-bottom-20" style="background-color: white;">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="../../assets/images/miplan-logo-large.png" alt="miPlan" /></a>
    </div>
    <div class="navbar-nav navbar-right margin-top-20 top-menu-dropdown">
      <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <img src="../../assets/images/small-avatar.jpg" class="img-circle center-block" />Stephen
                  <span class="caret"></span>
              </a>
        <ul class="dropdown-menu">
          <li><a href="#">Account</a></li>
          <li><a href="#">Billing</a></li>
          <li><a href="#">Dynamics 365</a></li>
          <li><a href="#">3rd party connections</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Client list</a></li>
          <li><a href="#">Data feeds</a></li>
          <li><a href="#">Revenue management</a></li>
          <li><a href="#">Document generator</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- CHANGE IN HERE -->

<!-- PAGE 2 -->
<!-- <div class="container padding-top-40 padding-bottom-50">
  <div class="col-md-6">
      <h1 class="finpal-h1">Import revenue data</h1>
      <h4>Add a spreadsheet that contains your revenue data</h4>
      <div class="upload-drop-zone padding-top-40 margin-top-20" id="drop-zone">
          <i class="fa fa-file-excel-o fa-2x margin-bottom-10"></i>
          <p>
              <span class="lead">Loading file</span><br />
              Please hold on
          </p>
          <div class="row">
              <div class="col-md-1">
              </div>
              <div class="col-md-10">
                  <div class="progress" style="height: 10px;">
                      <div class="progress-bar progress-background-color" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                          <span class="sr-only">60% Complete</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-link fa-lg"></i></span>
              <input type="text" class="form-control" placeholder="Or paste your file URL here">
          </div>
      </div>
      <button type="button" class="btn btn-lg btn-info pull-right" disabled="disabled" onclick="">Upload</button>
  </div>                  
</div> -->

<!-- CHANGE IN HERE -->

<div class="finpal-support padding-top-50 padding-bottom-40">
  <p>Need help? <button type="button" class="btn btn-primary" onclick="window.location.href='http://www.finpal.com.au'">Visit FinPal support portal</button></p>
</div>
<footer class="footer">
  <div class="container">
    <div class="row padding-top-50 padding-bottom-40">
      <div class="col-md-4">
        <h4 class="">Powered by <img src="../../assets/images/finpal-logo.png" alt="FinPal" /></h4>
        <p>© Copyright 2017 - All rights reserved </p>
      </div>
      <div class="col-md-4 social padding-top-20">
        <h4>
          Connect
          <ul class="social-network social-circle">
            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icoVimeo" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>
            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </h4>
      </div>
      <div class="col-md-4">
        <h4>Contact FinPal</h4>
        <p>
          <i class="fa fa-map-marker"></i> 2/74 Gheringhap St, Geelong, VIC, 3220<br />
          <i class="fa fa-mobile-phone"></i> 1300 FINPAL (1300 346 725)<br />
          <i class="fa fa-envelope-o"></i> <a href="mailto:info@finpal.com.au">info@finpal.com.au</a>
        </p>
      </div>
    </div>
  </div>
</footer>